@use '../global' as *;

$img-clamp: clamp(2.5rem, 4.5vw, 4rem);
$card-clamp: clamp(1rem, 4.5vw, 1.25rem);
$card-par-clamp: clamp(0.5rem, 2.5vw, 1rem);

.featured-section {
  background-image: url(../images/main/main-program-banner.png);
  flex-direction: column;
  align-items: center;

  .card-wrapper {
    flex-direction: column;
    gap: 10px;
    margin-block: 3rem;

    .card {
      grid-template-columns: 0.7fr 1fr 2fr;
      column-gap: 1rem;
      width: 100%;
      align-items: center;
      background-color: rgba($color: #fff, $alpha: 0.1);
      padding: 1rem 1.5rem;

      .img-wrapper {
        width: $img-clamp;
        justify-self: center;

        .img {
          width: 100%;
        }
      }

      .card-title {
        font-family: "Lato", Arial, Helvetica, sans-serif;
        text-align: start;
        font-size: $card-clamp;

        @include breakpoint(md) {
          text-align: center;
        }
      }

      .card-paragraph {
        text-align: left;
        font-size: $card-par-clamp;
        justify-self: flex-end;

        @include breakpoint(md) {
          text-align: center;
        }
      }

      @include breakpoint(md) {
        grid-template-columns: auto;
      }
    }

    @include breakpoint(md) {
      flex-direction: row;
    }
  }

  .featured-link {
    @media (max-width: map-get($map: $grid-breakpoints, $key: sm)) {
      width: 70%;
      display: block;
      padding: 2rem 2.5rem;
      background-color: $secondary;
      text-decoration: none;
      font-weight: 600;
    }
  }
}
