@use '../global' as *;

.partners-section {
  background-color: $primary;

  .companies {
    width: 70%;
    gap: 2rem;
    align-items: center;

    .company-img-wrapper {
      flex: 1;

      .company {
        width: 100%;
      }
    }
  }

  @include breakpoint(lg) {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &-about {
    display: none;

    @include breakpoint-down(sm) {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;

      .companies {
        width: 100%;
        gap: 1rem;
        flex-wrap: wrap;
        justify-content: center;

        .img-wrapper {
          flex: none;
          width: 100px;
        }
      }
    }
  }
}
