@use '../global' as *;
$i:1;

.speakers-section {
  transition: height;
  transition-duration: 1s;

  &-about {
    flex-direction: column;
    align-items: center;

    .image-container {
      width: 100%;
      gap: 2%;

      .img-wrapper {
        width: 50%;
        position: relative;

        &::before {
          position: absolute;
          content: '';
          background-color: rgba($color: #000, $alpha:0.1);
          height: 100%;
          width: 100%;
          backdrop-filter: blur(1px);
        }

        .congress-img {
          width: 100%;
          height: 100%;
        }
      }

      @include breakpoint-down(md) {
        flex-direction: column;

        .img-wrapper {
          width: calc(100% - 20px);
          margin-inline: 20px;
        }
      }
    }
  }

  .fa-chevron-down,
  .fa-chevron-up {
    margin-left: 1rem;
    color: $secondary;
  }

  .card-wrapper {
    .person-card {
      padding-block: 4rem;
      width: 100%;
      gap: 2rem;

      &[data-visible="false"] {
        visibility: hidden;
        opacity: 0;
        position: absolute;

        @include breakpoint(lg) {
          visibility: visible;
          opacity: 1;
          position: static;
        }
      }

      .img-wrapper {
        flex: 1;

        .img {
          width: 50%;
          background-image: url(../images/fake-people/Chess_Board.svg);
          background-size: 70%;
          aspect-ratio: $i;
          position: relative;
          transition: visibility, opacity;
          transition-duration: 0.5s;

          @for $var from 1 to 7 {
            &-#{$var} {
              &::before {
                $clamp: clamp(100px, 200%, 150px);

                content: '';
                width: $clamp;
                aspect-ratio: $i;
                background-image: url('../images/fake-people/person-#{$var}.jpeg');
                background-size: cover;
                position: absolute;
                top: 25%;
                left: 25%;
              }
            }
          }
        }
      }

      .card-content {
        flex: 2;
        text-align: start;
        flex-direction: column;
        gap: 0.5rem;

        .person-card-title {
          $card-title: clamp(1rem, 2.5vw, 1.25rem);

          font-size: $card-title;
          font-family: 'Lato', Arial, Helvetica, sans-serif;
          color: $primary;
        }

        .person-card-sub-title {
          $card-sub: clamp(0.8rem, 2.5vw, 1.25rem);

          font-size: $card-sub;
          font-family: 'Lato', Arial, Helvetica, sans-serif;
        }

        .card-line {
          border: 1px solid $gray;
          width: 1.5rem;
        }

        .person-card-paragraph {
          $person-card-paragraph: clamp(0.7rem, 2.5vw, 1.25rem);

          font-size: $person-card-paragraph;
          color: $primary;
        }
      }
    }

    @include breakpoint(md) {
      grid-template-columns: 1fr 1fr;
    }
  }

  .btn {
    @include breakpoint(lg) {
      display: none;
    }
  }
}
