@use '../global' as *;
.btn {
  &-secondary {
    color: $secondary;
    background-color: #fff;
    border: 5px solid $secondary;
    padding: 10px 15px;
    transition: background-color, color;
    transition-duration: 0.3s;
    font-size: 1rem;
    &:hover {
      background-color: $secondary;
      color: #fff;
    }
  }
}

.close-button {
  position: absolute;
  line-height: 0;
  top: 2rem;
  right: 1rem;
  font-size: 1.75rem;
  cursor: default;
  &:hover {
    opacity: 0.7;
  }
}